:host {
  height: 100%;
  display: block;
}
.header-menu {
  color: white;
  background-color: #9665df;
  border-radius: 20px 0px 0px 0px;
  display: grid;
  grid-template-columns: 90% 10%;
  min-height: 61px;
  width: 100%;
}
.titulo-topico {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  align-self: center;
  width: fit-content;
  margin: 0 auto;
  margin-right: 29%;
}
.close {
  font-size: 30px;
  justify-self: end;
  margin-right: 15px;
  margin-top: 5px;
}
.progresso {
  background: #212121;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  color: #cdcdcd;
  border-radius: 0 0 20px 20px;
}

input[type="checkbox"] {
  background-color: transparent;
  border: 1px solid white;
  margin: 15px;
}

.barra-progresso {
  width: 90%;
  margin: 0 auto;
  padding: 4px 0;
}

.texto-progresso {
  padding: 4px 0;
}

.container-topico {
  height: 370px;
  overflow-y: scroll;
}

.topico-container {
  border-radius: 8px;
  border: 2px solid #fff;
  width: 95%;
  max-width: 290px;
  height: 61px;
  color: #fff;
  cursor: pointer;
  margin: 15px auto;
  padding: 16px 10px;
  font-family: Arial;
  gap: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  outline: none;
}
.topico-container:hover {
  background-color: #9665df;
}
.active-topico-container {
  background-color: #9665df;
}
.caixa {
  width: 16px;
  height: 16px;
  border: 1px solid white;
}
.caixa mat-icon {
  font-size: 14px;
}
p {
  outline: none;
}
.btn-forum {
  background-color: #262626;
  color: #9665df;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  font-family: "Arial" 16px;
}
.container-topico a,
.moodle a {
  text-decoration: none;
  color: white;
}

.container-topico a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.moodle {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  padding-bottom: 10px;
}
.moodle a {
  margin-left: 5px;
  outline: none;
}
.outros-links {
  position: absolute;
  height: -webkit-fill-available;
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
}
