.container-foto-header-active {
  display: inline-flex;
  padding: 14px 1px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Primaria, #9665df);
  background: var(--Background, #131313);
  position: fixed;
  right: 8%;
  top: 3%;
  width: 270px;
  height: 175px;
}
.cima {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
}
.meio {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: rgba(234, 224, 249, 0.58)
}
.mat-mdc-progress-spinner {
  background-color: #281446;
}
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #58DB43;
}
.progress-spinner{
  position: absolute;
  top: 43%;
  right: 10%;
  font-size: 16px;
}
.foto-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  color: black;
  background-color: white;
  border-radius: 28px;
  border: 1px solid var(--Primaria, #9665df);
}
