.header {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  background-color: black;
  align-items: center;
  color: white;
  border: 1px solid #1f1f1f;
  padding: 10px;
  margin-bottom: 30px;
}
.icon-forum {
  background-color: #9665df;
}
.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c3a1f5;
  column-gap: 15px;
  font-size: 20px;
}
.voltar {
  text-align: end;
}
:host {
  color: white;
}
.container-topico-forum {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.container-topico-forum h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 22px;
}

.container-topico-forum h1:before {
  content: "\2022";
  margin: 0 10px;
  color: #9665df /* cor da bolinha */;
}
.container-topico-forum .topico_forum_hr {
  width: 100%;
  margin: 0 auto;
  height: 2px;
  border: none;
  background-color: #3c2859;
}
.pesquisa-forum {
  margin-top: 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #242228;
  height: 250px;
  border-radius: 5px;
}

nav {
  margin: 10px 0 0 0;
  text-align: center;
}

.pesquisa-forum nav button {
  padding: 8px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border: 0.5px solid white;
  margin: 10px;
  font-family: Arial;
  border-radius: 5px;
  width: 111px;
}
.pesquisa-forum nav button:nth-child(1) {
  background-color: #9665df;
  border: none;
}
.pesquisa-forum input {
  width: 386px;
  height: 35px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid white;
  margin: 30px auto;
  padding: 10px;
  color: white;
}

.pesquisa-forum button.nova-postagem {
  width: 386px;
  height: 40px;
  background-color: #5e2fa5;
  border: none;
  margin: 0 auto;
  border-radius: 6px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.postagens {
  background-color: #242228;
  height: 160px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 20px 0;
  align-items: center;
  border-radius: 10px;
}
.postagens .bolinha {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 auto;
  margin-bottom: 12px;
}
.quantidade-respostas p {
  font-size: 12px;
}
.corpo-postagem {
  width: 100%;
  padding: 0 10px;
}
.corpo-postagem h3 {
  font-size: 22px;
}
.corpo-postagem p {
  color: #9a9a9a;
}
.corpo-postagem a {
  color: #9665df;
  text-decoration: underline;
}
.autor .foto-autor {
  width: 30px;
  height: 30px;
  border: 3px solid #9f69ef;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.por {
  color: #686868;
}
.p-autor {
  color: #9665df;
  text-transform: capitalize;
}
.p1 {
  color: #cdcdcd;
}

.container-postagem-form {
  margin-top: 20px;
  background-color: #242228;
  border-top: 3px solid #9665df;
  border-radius: 8px;
  margin-bottom: 30px;
}
.container-postagem-form h4 {
  margin: 15px 0 10px 0;
}
.container-postagem-form .hr_form {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
}
.form_postagem {
  display: flex;
  flex-direction: column;
}
.form_postagem label {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
.form_postagem input {
  width: 80%;
  margin: 0 auto;
}
.p_form {
  color: #fa7878;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}
#titulo {
  min-height: 30px;
  padding: 10px;
  border-radius: 6px;
  background-color: #9a9a9a;
  color: white;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.form_postagem button {
  width: 100px;
  height: 35px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #50288d;
  color: white;
  border: none;
}

.form_postagem textarea {
  width: 80%;
  margin: 0 auto;
  min-height: 200px;
  background-color: #9a9a9a;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-bottom: 20px;
  color: white;
  padding: 10px;
}
