<div class="container">
  <div class="container-titulo">
    <h1 mat-dialog-title>Links Externos</h1>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div mat-dialog-content>
    <ul>
      <li>Artigo sobre construtivismo: <a href="https://www.youtube.com/watch?v=T9X2UqD9raI">https://www.youtube.com/watch?v=T9X2UqD9raI</a></li>
      <li>Nome do link tal: <a href="#">Link</a></li>
      <li>Nome do link tal: <a href="#">Link</a></li>
      <li>Nome do link tal: <a href="#">Link</a></li>
    </ul>
  </div>

</div>
