.container{
  height: 500px;
  background-color: black;
  border: 1px solid #3C2859;
}

.container-titulo{
  display: flex;
  justify-content: space-between;
  background-color: #905cde;
}

.container-titulo h1,mat-icon{
  color: #FFF;
}

.container ul{
  margin: 0 0 0 3rem;
  line-height: 30px;
  color: #fff;
}

.container ul li a{
  text-decoration: none;
  color: #905cde;
  ;
}

.container ul li a:hover{
  text-decoration: underline;
}
