@font-face {
  font-family: minhaFonte;
  src: url('../../../assets/fonteProjeto.ttf');
}
mat-sidenav {
  height: 90%;
  background-color: #131313;
  border-radius: 20px 0;
}
a svg {
  position: relative;
  right: 4%;
}

.sidebar {
  background-color: black;
  border-radius: 10px;
  color: #FAF8E6;
}

.titulo-topico {
  padding: 1rem;
  color: #E0D1F5;
  background-color: #9665DF;
  border-radius: 20px 0px 0px 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0;
}

.teste {
  position: relative;
  left: 200px;
}

#button {
  color: #FFF;
}

#icon {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  color: #FFF;
}

.text p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  font-family: minhaFonte;
}

.text-unidade {
  color: #DFBF0B;
}

.img {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  height: 65px;
  justify-content: space-between;
  background-color: black;
}

.img img {
  padding-left: 20px;
  max-height: 80px;
  height: 40px;
}

.menu-teste {
  width: 100px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.user{
  display: inline-block;
  color: black;
  font-weight: bold;
  padding: 5px;
  background-color: #E0D1F5;
  border: 1px solid #9665DF;
  border-radius: 50%;
}
@media (max-width: 425px) {
  .text {
    margin-left: 0;
  }
}
