@font-face {
    font-family: minhaFonte;
    src: url('../../../assets/Arial Rounded MT Bold Regular.ttf');
}

.menu-teste {
    position: relative;
    left: 80%;
}

.sidebar {
    transition: transform 20s ease-in-out;
    transform: translateX(100%);
    width: 350px;
    background-color: black;
    border-radius: 10px;
    display: none;
    color: #FAF8E6;
}

.sidebar.open {
    display: block;
    position: fixed;
    transform: translateX(-70%); /* 70% fica igual do ultimo video q mandei pro marcos */
}

.titulo-topico{
    padding: 1rem;
    color: black;
    background-color: #DFBF0B;
    border-radius: 10px;
}

.teste {
    position: relative;
    left: 200px;
}

#button {
    color: #DFBF0B;
}

#icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

.text {
    color: #FAF8E6;
    margin-left: 3rem;
}

.text p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    font-family: minhaFonte;
}

.text-unidade {
    color: #DFBF0B;
}

.img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.img img {
    max-height: 80px;
    margin-left: 1rem;
}


@media (max-width: 425px) {
    .text {
        margin-left: 0;
    }

    .menu-teste {
        left: 60%;
    }
}