
.hr-final {
  width: 93%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #3C2859;
  height: 3px;
}

.container-main-conteudo {
  display: grid;
  grid-template-columns: 70% 30%;
}

/* Estilos da primeira caixa */

.container-main-conteudo .div-slide ul li:before {
  content: '\2022';
  margin: 0 10px;
  color: #9665DF
}

.container-main-conteudo .div-slide ul li {
  text-align: center;
  color: #F0E5FF;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-main-conteudo .div-slide hr {
  width: 80%;
  height: 3px;
  margin: auto;
  border-radius: 10px;
  background-color: #3C2859;
  margin-bottom: 10px;
  border: none;
}

/* Estilos da caixa dos botões */

.botoes {
  padding: 0 30px;
  display: grid;
  align-items: center;
}

.section-texto {
  border-radius: 10px;
  border: 1px solid #3C2859;
  max-width: 290px;
  width: 100%;
}

.primeiro-botao {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  min-width: 190px;
  width: 70%;
  height: 43px;
  border-radius: 8px;
  border: 2px solid var(--Terciaria, #FFF);
  background-color: transparent;
  margin-bottom: 20px;
}

.primeiro-botao a,
.segundo-botao {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.segundo-botao {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  min-width: 190px;
  width: 70%;
  height: 43px;
  border-radius: 8px;
  border: none;
  background-color: #793CD4;
}


.link-proximo {
  display: inline-grid;
  grid-template-columns: auto auto;
  position: relative;
  left: 89%;
  margin-top: 8px;
  align-items: center;
  text-decoration: none;
  color: var(--24, #4F4F4F);
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  column-gap: 10px;
  margin-bottom: 10px;
}

.link-voltar {
  display: inline-grid;
  grid-template-columns: auto auto;
  position: relative;
  right: 6%;
  margin-top: 8px;
  align-items: center;
  text-decoration: none;
  color:  #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  column-gap: 10px;
  margin-bottom: 10px;
}


/* Media Queries */

@media (max-width:800px) {
  .container-main-conteudo {
    grid-template-columns: 100%;
  }
}
