@font-face {
  font-family: minhaFonte;
  src: url("../../../../../assets/fonteProjeto.ttf");
}
:host {
  height: 80vh;
  display: block;
}
.container {
  background-color: #131313;
}
.container-main-conteudo {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid #5a3d86;
  padding-bottom: 20px;
  height: 90%;
  align-items: center;
}
.container-video {
  height: 100%;
}
.div-slide {
  width: 60%;
  height: 100%;
}
.titulo-topico {
  width: 75%;
}
.titulo-topico ul li {
  list-style: none;
  text-align: center;
  color: #f0e5ff;
  padding: 30px 0 0 0;
  font-family: minhaFonte;
  font-size: 25px;
  margin-bottom: 10px;
}

.titulo-topico ul li:before {
  content: "\2022";
  margin: 0 10px;
  color: #9665df;
}

.titulo-topico hr {
  width: 80%;
  height: 3px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #3c2859;
  border: none;
}

.botoes {
  padding: 15px;
  display: grid;
  align-items: center;
  border-radius: 15px;
  background: rgba(28, 28, 28, 0.7);
  height: 95%;
  align-self: flex-start;
}

.primeiro {
  grid-area: primeiro;
}

.segundo {
  grid-area: segundo;
}

.terceiro {
  grid-area: terceiro;
}

.section-texto {
  width: 100%;
  display: grid;
  gap: 22px;
  justify-content: center;
  grid-template-areas:
    "primeiro segundo"
    "terceiro terceiro";
}

button.primeiro-botao,
button.segundo-botao {
  display: flex;
  width: 90px;
  height: 70px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1.146px solid var(--Primaria, #9665df);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(150, 101, 223, 0.5) 0%,
    rgba(150, 101, 223, 0) 100%
  );
  color: var(--Terciaria, #fff);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px;
}

button.terceiro-botao {
  display: flex;
  width: 202px;
  height: 70px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1.146px solid var(--Primaria, #9665df);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(150, 101, 223, 0.5) 0%,
    rgba(150, 101, 223, 0) 100%
  );
  color: var(--Terciaria, #fff);
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons-final {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

button.ebook-botao {
  display: inline-flex;
  padding: 9.868px 35.883px;
  justify-content: center;
  align-items: center;
  gap: 12.559px;
  background-color: transparent;
  border-radius: 7.177px;
  border: 1.794px solid var(--Terciaria, #fff);
}

button.ebook-botao a {
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 15.25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  width: 80%;
}

button.atividade-botao {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12.559px;
  border: none;
  border-radius: 7.177px;

  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 15.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
  width: 100%;
  padding: 15px;
}
.active {
  background: var(--2, #793cd4);
}
.disabled {
  background: #50288D;
}
.active-incorreto{
  background-color: #DE3535;
}
.active-correto{
  background-color: #44A834;
}
.primeiro-botao {
  border: 2px solid var(--Terciaria, #fff);
  background-color: transparent;
}

.primeiro-botao a,
.segundo-botao {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font: normal 400 17px / normal Arial;
}

.segundo-botao {
  border: none;
  background-color: #793cd4;
}

.container-main-conteudo-link {
  width: 95%;
  display: flex;
  justify-content: right;
  padding-bottom: 20px;
}
.container-main-conteudo-link-left {
  width: 95%;
  display: flex;
  justify-content: left;
  padding-bottom: 20px;
}

.container-main-conteudo-link-ul {
  width: 95%;
  padding: 0 0 0 50px;
}

.container-main-conteudo-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-proximo {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-decoration: none;
  color: #4f4f4f;
  font: normal 400 16px normal Arial;
  column-gap: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.container-main-conteudo-links-voltar {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.link-voltar {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  line-height: normal;
  column-gap: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  :host {
    height: 100%;
    display: block;
  }
  .container-main-conteudo {
    flex-direction: column;
    row-gap: 20px;
  }
  .botoes{
    margin: 0 auto;
  }
  .div-slide {
    width: 80%;
  }

  .titulo-topico {
    width: 90%;
    margin: 0 auto;
  }
}
