<!-- chamada do componente do cabeçalho da unidade geral -->
<app-header-unidade></app-header-unidade>
<div class="container-main-conteudo">
  <div class="div-slide">
    <ul>
      <!-- Nome do tópico da unidade -->
      <li>{{ nome }}</li>
    </ul>
    <hr />
    <div class="container-video">
      <!-- chamada do componente slide-unidade para exibir o video do tópico -->
      <app-slide-unidade
        [videos]="videos"
        style="text-align: center"
      ></app-slide-unidade>
    </div>
  </div>

  <div class="botoes">
    <section class="section-texto center-2">
      <!-- Todo: Fazer o NG template dos-->
      <!-- Botão que quando clicado vai para o componente saiba-mais -->
      <button
        class="segundo segundo-botao center-2"
        (click)="referenciasClick.emit()"
      >
        <img
          src="assets/icons/saibaMais.svg"
          alt="Icone para download do ebook"
          width="22px"
          height="24px"
        />
        Saiba mais
      </button>
      <!-- Botão que quando clicado vai para o componente referências -->
      <button
        class="terceiro terceiro-botao center-2"
        (click)="linksClick.emit()"
      >
        <img
          src="assets/icons/referencias.svg"
          alt="Icone para download do ebook"
          width="22px"
          height="24px"
        />
        Referencias Bibliográficas
      </button>
      <!-- Botão que quando clicado vai para o componente texto de apoio -->
      <button
        class="primeiro segundo-botao center-2"
        (click)="textoApoioClick.emit()"
      >
        <img
          src="assets/icons/texto-de-apoio.svg"
          alt="Icone para download do ebook"
          width="22px"
          height="24px"
        />
        Texto de apoio
      </button>
    </section>

    <div class="position">
      <section class="buttons-final">
        <!-- Botão que quando clicado vai para o componente de atividade -->
        <button *ngIf="this.ltiService.controlAtividade >= this.videos.length"
          class="atividade-botao center-2"
          (click)="atividadeClick.emit()"
        >
          <img
            src="assets/icons/atividade.svg"
            alt="Icone para ir para a atividade da unidade"
            width="22px"
            height="24px"
          />
          ATIVIDADE
        </button>
        <button *ngIf="this.ltiService.controlAtividade < this.videos.length"
          class="atividade-botao center-2"
          (click)="clicarVideos()"
        >
          <img
            src="assets/icons/atividade.svg"
            alt="Icone para ir para a atividade da unidade"
            width="22px"
            height="24px"
          />
          ATIVIDADE
        </button>

        <!-- Botão para download do e-book do tópico -->
        <button class="ebook-botao center-2">
          <a href="assets/E-book Teste.PDF" download="E-book Teste.PDF"
            >E-BOOK TÓPICO</a
          >
          <img
            src="assets/icons/download.svg"
            alt="Icone para download do ebook"
            width="22px"
            height="24px"
          />
        </button>
      </section>
    </div>
  </div>
</div>

<div class="container-switch-links" [ngSwitch]="link">
  <div *ngSwitchCase="'1'" class="container-main-conteudo-link">
    <div *ngIf="!this.liberado">
      <p style="color: aliceblue">
        Complete a atividade para poder ir para o proximo tópico
      </p>
    </div>
    <a
      *ngIf="this.liberado"
      [routerLink]="['../', this.proximo]"
      class="link-proximo"
      (click)="this.aprendizagemInformatica.updateProgress()"
      >PROXÍMO
      <img
        src="assets/icons/next.svg"
        alt="Icone para ir para a próxima unidade"
        width="22px"
        height="24px"
      />
    </a>
  </div>

  <div *ngSwitchCase="'2'" class="container-main-conteudo-link-left">
    <a [routerLink]="['../', this.voltar]" class="link-voltar">
      <img
        src="assets/icons/previous.svg"
        alt="Icone para ir para a unidade anterior"
        width="22px"
        height="24px"
      />
      ANTERIOR
    </a>
  </div>
  <ng-template ngSwitchDefault class="container-main-conteudo-links" #links>
    <div class="container-main-conteudo-links-voltar">
      <a [routerLink]="['../', this.voltar]" class="link-voltar">
        <img
          src="assets/icons/previous.svg"
          alt="Icone para ir para a unidade anterior"
          width="22px"
          height="24px"
        />
        ANTERIOR
      </a>

      <div *ngIf="!this.liberado">
        <p style="color: aliceblue">
          Complete a atividade para poder ir para o proximo tópico
        </p>
      </div>
      <a
        [routerLink]="['../', this.proximo]"
        (click)="aprendizagemInformatica.updateProgress()"
        class="link-proximo"
        *ngIf="this.liberado"
        >PROXÍMO
        <img
          src="assets/icons/next.svg"
          alt="Icone para ir para a próxima unidade"
          width="22px"
          height="24px"
        />
      </a>
    </div>
  </ng-template>
</div>
