.container-atividade {
  color: white;
  margin: 50px 0;
}

.correto {
  color: green;
  border-color: green;
}

.errado {
  color: red;
  border-color: red;
}

.container-resposta {
  margin-bottom: 35px;
  border-radius: 8px;
  background: var(--24, #4F4F4F);
}

.container-resposta-conteudo {
  display: flex;
  align-items: center;
}

.container-resposta-conteudo p {
  padding: 15px 30px;
  color: #FFF;
  font-family: Arial;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.corretoVisivel,
.erradoVisivel {
  display: block;
  color: #B3B3B3;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  padding: 0 10px;
  /* 150% */
}

.corretoVisivel {
  border: 1px solid #498040;
}

.erradoVisivel {
  border: 1px solid rgb(175, 12, 12);
}
.olhoIMG{
  padding: 10px;
}
.botao {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.botao button {
  border-radius: 5px;
  background-color: #361B5E;
  padding: 6px 17px;
  outline: none;
  border: none;
  color: #818181;
  font-family: Arial;
  font-size: 18px;
  line-height: normal;
}
