<div class="container-main-conteudo">
  <div class="div-slide">
    <ul>
      <li>Construtivismo</li>
    </ul>
    <hr />
    <div class="container-video">
      <app-slide-unidade
        [videos]="arrayVideos"
        style="text-align: center"
      ></app-slide-unidade>
    </div>
  </div>

  <div class="botoes">
    <section class="section-texto center-2">
      <app-span-animation
        nome_button="Texto de apoio"
        nome_icon="description"
      ></app-span-animation>

      <app-span-animation
        nome_button="Referencias Bibliográficas"
        nome_icon="bookoutlined"
      ></app-span-animation>

      <app-span-animation
        nome_button="Links Externos"
        nome_icon="link"
      ></app-span-animation>
    </section>

    <div class="position">
      <section class="buttons-final">
        <button class="primeiro-botao center-2">
          <a href="assets/E-book Teste.PDF" download="E-book Teste.PDF"
            >E-BOOK TÓPICO</a
          >
          <img
            src="assets/icons/download.svg"
            alt="Icone para download do ebook"
            width="22px"
            height="24px"
          />
        </button>

        <button class="segundo-botao center-2">
          <img
            src="assets/icons/atividade.svg"
            alt="Icone para ir para a atividade da unidade"
            width="22px"
            height="24px"
          />
          ATIVIDADE
        </button>
      </section>
    </div>
  </div>
</div>
<hr class="hr-final" />
<a (click)="navigation()" class="link-proximo"
  >PROXÍMO
  <img
    src="assets/icons/next.svg"
    alt="Icone para ir para a próxima unidade"
    width="22px"
    height="24px"
  />
</a>

<a (click)="navigationVoltar()" class="link-voltar">
  <img
    src="assets/icons/previous.svg"
    alt="Icone para ir para a unidade anterior"
    width="22px"
    height="24px"
  />
  ANTERIOR
</a>
