<div class="container-geral" [ngSwitch]="controllerSwitch">
  <div *ngSwitchCase="'1'">
    <div class="header-atividade">
      <img
        (click)="atividadeClick()"
        src="assets/icons/close.svg"
        alt="Icone para ir para a atividade da unidade"
        width="30px"
        height="30px"
      />
      <span class="title">01 Pontos para definir Behaviorismo</span>
    </div>
    <div class="container-atividade">
      <app-atividade-unidade
        [tituloPergunta]="pergunta"
        [alternativas]="arrayAlternativas"
      >
      </app-atividade-unidade>
    </div>
  </div>

  <div *ngSwitchCase="'2'">
    <div class="header-atividade">
      <img
        (click)="linksClick()"
        src="assets/icons/close.svg"
        alt="Icone para ir para a atividade da unidade"
        width="30px"
        height="30px"
      />
    </div>
    <div class="container-links">
      <div class="header-links">
        <img
          src="assets/icons/saibaMais.svg"
          alt="Icone para download do ebook"
          width="28px"
          height="28px"
        />
        <p>Saiba mais</p>
      </div>
      <hr />
    </div>

    <div class="container-links-text">
      <ul>
        <li *ngFor="let item of arrayLinks">
          <a target="_blank"  href="{{item}}">{{item}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngSwitchCase="'3'">
    <div class="header-atividade">
      <img
        (click)="referenciasClick()"
        src="assets/icons/close.svg"
        alt="Icone para ir para a atividade da unidade"
        width="30px"
        height="30px"
      />
    </div>
    <div class="container-links">
      <div class="header-links">
        <img
          src="assets/icons/referencias.svg"
          alt="Icone para download do ebook"
          width="28px"
          height="28px"
        />
        <p>Referências</p>
      </div>
      <hr />
    </div>
    <div class="container-links-text">
      <ul>
        <li *ngFor="let item of arrayReferencias">
          <p>{{item}}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="container" *ngSwitchDefault>
    <app-header-unidade></app-header-unidade>
    <div class="container-main-conteudo">
      <div class="div-slide">
        <ul>
          <li>Behaviorismo</li>
        </ul>
        <hr />
        <div class="container-video">
          <app-slide-unidade
            [videos]="arrayVideos"
            style="text-align: center"
          ></app-slide-unidade>
        </div>
      </div>

      <div class="botoes">
        <section class="section-texto center-2">
          <!-- Todo: Fazer o NG template dos-->
          <button class="segundo-botao center-2" (click)="atividadeClick()">
            Texto de apoio
          </button>
          <button class="segundo-botao center-2" (click)="linksClick()">
            Referencias Bibliográficas
          </button>
          <button class="segundo-botao center-2" (click)="referenciasClick()">
            Links Externos
          </button>
        </section>

        <div class="position">
          <section class="buttons-final">
            <button class="primeiro-botao center-2">
              <a href="assets/E-book Teste.PDF" download="E-book Teste.PDF"
                >E-BOOK TÓPICO</a
              >
              <img
                src="assets/icons/download.svg"
                alt="Icone para download do ebook"
                width="22px"
                height="24px"
              />
            </button>

            <button class="segundo-botao center-2" (click)="atividadeClick()">
              <img
                src="assets/icons/atividade.svg"
                alt="Icone para ir para a atividade da unidade"
                width="22px"
                height="24px"
              />
              ATIVIDADE
            </button>
          </section>
        </div>
      </div>
    </div>
    <hr class="hr-final" />
    <a routerLink="construtivismo" class="link-proximo"
      >PROXÍMO
      <img
        src="assets/icons/next.svg"
        alt="Icone para ir para a próxima unidade"
        width="22px"
        height="24px"
      />
    </a>
  </div>
</div>
