/* Estilos gerais */

.hr-final {
  width: 93%;
  margin: 20px auto 0;
  background-color: #3C2859;
  height: 3px;
}

.container-main-conteudo {
  display: grid;
  grid-template-columns: 70% 30%;
}

/* Estilos da primeira caixa */

.container-main-conteudo .div-slide ul li {
  text-align: center;
  color: #F0E5FF;
  font: normal 700 30px/normal Lato;
}

.container-main-conteudo .div-slide ul li:before {
  content: '\2022';
  margin: 0 10px;
  color: #9665DF;
}

.container-main-conteudo .div-slide hr {
  width: 80%;
  height: 3px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #3C2859;
  border: none;
}

/* Estilos da caixa dos botões */

.botoes {
  padding: 0 30px;
  display: grid;
  align-items: center;
}

.section-texto {
  border-radius: 10px;
  border: 1px solid #3C2859;
  max-width: 290px;
  width: 100%;
}

.primeiro-botao,
.segundo-botao {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  min-width: 190px;
  width: 70%;
  height: 43px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.primeiro-botao {
  border: 2px solid var(--Terciaria, #FFF);
  background-color: transparent;
}

.primeiro-botao a,
.segundo-botao {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font: normal 400 17px/normal Arial;
}

.segundo-botao {
  border: none;
  background-color: #793CD4;
}

.link-proximo {
  display: inline-grid;
  grid-template-columns: auto auto;
  position: relative;
  left: 89%;
  margin: 8px 0 10px;
  align-items: center;
  text-decoration: none;
  color: var(--24, #4F4F4F);
  text-align: center;
  font: normal 400 16px/normal Arial;
  column-gap: 10px;
}

.botoes .section-texto button{
    width: 90%;
    border-radius: 20px;
    border: 1px solid #9665DF;
    background-color: black;
    color: #9A9A9A;
    font: normal 400 16px/normal Arial;
    padding: 10px;
    margin: 15px;
}

/*Estilos do NG template da atividade*/

.header-atividade{
  display: flex;
  height: 64px;
  width: 100%;
  background-color: #161616;
  align-items: center;
}

.header-atividade .title{
  margin-left: 10px;
  color: aliceblue;
}

.container-atividade{
  width: 80%;
  margin: 0 auto;
}

/*Estilos do NG template da referencias*/
.header-links{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.header-links p{
  font-size: 30px;
  color: white;
}

.container-links hr{
  margin: 0 auto;
  width: 80%;
  height: 2px;
  outline: none;
  background-color: #2D1E43;
  border: none;
}

.container-links-text{
  width: 100%;
  text-align: center;
  padding: 10px;
}
.container-links-text p{
  color: whited;
}
.container-links-text a{
  text-decoration: none;
  display: block;
  color: white;
  margin: 20px 0;
}

/* Media Queries */

@media (max-width:800px) {
  .container-main-conteudo {
    grid-template-columns: 100%;
  }
}
