<!--Seção de botões da página inicial HOME-->
<div class="container">
  <section class="button-section">
    <div class="button-group">
      <button class="start-button" [routerLink]="urlInicio">INICIAR</button>
      <button class="download-button">
        <a
          [href]="this.ltiService.dados_completos.topicos[0].ebookUrlGeral"
          [download]="nome_ebook"
          target="_blank"
          >DOWNLOAD E-BOOK UNIDADE</a
        >
        <img
          src="../../../../assets/img/download.png"
          alt="icone de download"
        />
      </button>
    </div>
  </section>
</div>
