p {
  color: #FFF;
  font-family: Arial;
  line-height: normal;
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0;
  width: 85%;
}

.imgLetras{
  max-height: 130px;
  height: 90%;
}

.alternativas {
  display: flex;
  background-color: #4F4F4F;
  border-radius: 8px;
  background: #4F4F4F;
  margin-bottom: 15px;
  align-items: center;
}

.pergunta {
  width: 90%;
  margin-left: 10px;
  color: white;
  font-size: 22px;
}

.atividade-botao{
  display: flex;
  justify-content: flex-end;
}

.atividade-botao button{
  font-size: 20px;
  width: 91px;
  height: 35px;
  color: white;
  background-color: #9665DF;
  border-radius: 5px;
  outline: none;
  border: none;
}
