@font-face {
  font-family: minhaFonte;
  src: url('../../../assets/fonteProjeto.ttf');
}

.button {
  border: none;
  background-color: transparent;
  color:#FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button:hover{
  border-bottom: 3px solid #9665DF;
}
.menu-teste {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}

.sidebar {
  transition: transform 20s ease-in-out;
  transform: translate(-30%, 100%);
  width: 350px;
  background-color: black;
  border-radius: 10px;
  display: none;
  color: #FAF8E6;
}

.sidebar.open {
  display: block;
  position: fixed;
  transform: translate(0%, 60%);
  z-index: 999;
  /* 70% fica igual do ultimo video q mandei pro marcos */
}

.titulo-topico {
  padding: 16px;
  color: black;
  background-color: #9665DF;
  border-radius: 20px 0px 0px 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
}

.teste {
  position: relative;
  left: 200px;
}

#button {
  color: #FFF;
}

#icon {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
}

.text {
  color: #FAF8E6;
  text-align: center;
}

.text p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  font-family: minhaFonte;
}

.text-unidade {
  color: #9665DF;
}

.img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.img img {
  max-height: 80px;
  margin-left: 1rem;
  height: 40px;

}

.position{
  width:62%;
  padding: 30px 0;
}

@media (max-width: 425px) {
  .text {
    margin-left: 0;
  }

  .menu-teste {
    left: 60%;
  }
}
