<section>
  <div class="img">
    <img src="assets/Tecnocomp+.png" alt="Tecnocom+ LOGO" />
    <div class="menu-teste">
      <button
        id="button"
        mat-button
        (click)="menuClick()"
        (click)="toggleSidebar()"
      >
        <mat-icon id="icon">{{ menuHeader }}</mat-icon>
      </button>
      <aside class="sidebar" [ngClass]="{ open: isOpen }">
        <h2 class="titulo-topico center">Tópicos</h2>
        <app-list-menu [unidades]="unidades" [unidadesLinks]="unidadesLinks"></app-list-menu>
      </aside>
    </div>
  </div>
</section>

<section>
  <div class="position" *ngIf="appService.controllerSwitchHome == 0">
    <div class="text">
      <p>
        APRENDIZAGEM E <br />
        INFORMÁTICA: <span class="text-unidade">Abordagem Pedagógica</span>
      </p>
    </div>
  </div>
</section>
