@font-face {
  font-family: minhaFonte;
  src: url("../../../assets/fonteProjeto.ttf");
}
.mat-drawer-container {
  background-color: transparent;
  height: 100%;
}
mat-sidenav {
  height: 90%;
  background-color: #131313;
  border-radius: 20px 0;
}
.btn-ficha {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.header nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.end-navbar {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
}
.header img {
  max-height: 80px;
  margin-left: 1rem;
  height: 40px;
}
.menu-teste {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
}

.sidebar {
  transition: transform 20s ease-in-out;
  transform: translate(-30%, 100%);
  width: 350px;
  border-radius: 10px;
  display: none;
  color: #faf8e6;
}

.sidebar.open {
  display: block;
  position: fixed;
  transform: translate(0%, 60%);
  z-index: 999;
  /* 70% fica igual do ultimo video q mandei pro marcos */
}

.teste {
  position: relative;
  left: 200px;
}

#icon {
  color: #fff;
}

.text {
  color: #faf8e6;
  text-align: center;
}

.text p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  font-family: minhaFonte;
}

.text-unidade {
  color: #9665df;
}

.position {
  width: 62%;
  padding: 30px 0;
}

@media (max-width: 425px) {
  .text {
    margin-left: 0;
  }

  .menu-teste {
    left: 60%;
  }
}
