<section>
  <div class="img">
    <img src="assets/Tecnocomp+.png" alt="Tecnocom+ LOGO" />
    <div class="menu-teste">
      <button
        id="button"
        mat-button
        (click)="menuClick()"
        (click)="toggleSidebar()"
      >
        <mat-icon id="icon">{{ menuHeader }}</mat-icon>
      </button>
      <aside class="sidebar" [ngClass]="{ open: isOpen }">
        <h2 class="titulo-topico">Tópicos</h2>
        <ul>
          <li *ngFor="let nomeUnidades of unidades"><a routerLink="{{nomeUnidades}}">{{nomeUnidades}}</a></li>
        </ul>
      </aside>
    </div>
  </div>
</section>

<section>
  <div class="position">
    <div class="text">
      <p>
        APRENDIZAGEM EM INFORMÁTICA: <br />
        <span class="text-unidade">Abordagem Pedagógica</span>
      </p>
    </div>
  </div>
</section>
