@font-face {
    font-family: minhaFonte;
    src: url('../../../assets/Arial Rounded MT Bold Regular.ttf');
}

.menu-teste {
    position: relative;
    left: 80%;
}

.sidebar {
    transition: transform 20s ease-in-out;
    transform: translateX(100%);
    width: 350px;
    background-color: black;
    border-radius: 10px;
    display: none;
    color: #FAF8E6;
}


.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    border: 1px solid #DFBF0B;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0 0 0;
    background: linear-gradient(to right, #DFBF0B 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
}

.sidebar ul li:hover{
    background-position: left bottom;
    color: black;
}

.sidebar ul li a{
    color: inherit;
    text-decoration: none ;
    margin: 1rem;
    font-weight: 600;
}
.sidebar.open {
    display: block;
    position: fixed;
    transform: translateX(-70%); /* 70% fica igual do ultimo video q mandei pro marcos */
}

.titulo-topico{
    padding: 1rem;
    color: black;
    background-color: #DFBF0B;
    border-radius: 10px;
}

.teste {
    position: relative;
    left: 200px;
}

#button {
    color: #DFBF0B;
}

#icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

.text {
    color: #FAF8E6;
    margin-left: 3rem;
}

.text p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    font-family: minhaFonte;
}

.text-unidade {
    color: #DFBF0B;
}

.img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.img img {
    max-height: 80px;
    margin-left: 1rem;
}


@media (max-width: 425px) {
    .text {
        margin-left: 0;
    }

    .menu-teste {
        left: 60%;
    }
}