<div class="header-atividade">
  <div class="container-links">
    <div class="header-links">
      <!-- Imagem do ícone de download do ebook -->
      <img
        src="assets/icons/saibaMais.svg"
        alt="Icone para download do ebook"
        width="28px"
        height="28px"
      />
      <p>Saiba mais</p>
    </div>
  </div>
  <!-- ícone que quando clicado volta para a página geral da unidade -->
  <img
    (click)="linksClick.emit()"
    src="assets/icons/close.svg"
    alt="Icone para ir para a atividade da unidade"
    width="30px"
    height="30px"
    style="cursor: pointer;"
  />
</div>

<section class="container-links-text">
  <p id="container-links-text-frase">Na seção Saiba Mais, você pode explorar informações detalhadas sobre o tópico atual. Este é o lugar ideal para expandir seu conhecimento e descobrir mais sobre o assunto.</p>
  <!-- ngFor que percorre o vetor de objetos que contém descrição e link de informaçõoes adicionais -->
  <div class="container-links-text-caixa" *ngFor="let item of links">
    <div class="container-links-text-caixa-descricao-conteudo">
      <img src="../../../../../assets/img/youtube.png" alt="imagem da logo do youtube">
      <p class="container-links-text-caixa-descricao1">Descrição:</p>
    </div>
      <!-- a cada iteração do ngFor tem uma descrição e um link diferente sendo exibido -->
      <p class="container-links-text-caixa-descricao2">{{ item.descricao }}</p>
      <a target="_blank" [href]="item.url">clique aqui</a>
  </div>
</section>
