<div class="header-atividade">
  <div class="container-links">
    <div class="header-links">
      <img
        src="assets/icons/saibaMais.svg"
        alt="Icone para download do ebook"
        width="28px"
        height="28px"
      />
      <p>Saiba mais</p>
    </div>
  </div>
  <img
    (click)="linksClick.emit()"
    src="assets/icons/close.svg"
    alt="Icone para ir para a atividade da unidade"
    width="30px"
    height="30px"
  />
</div>


<section class="container-links-text">
  <p id="container-links-text-frase">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione enim illum sed, consequuntur totam maiores voluptates saepe voluptatibus recusandae vero eum, pariatur facilis dolor ab, quis ad omnis illo ex.</p>
  <div class="container-links-text-caixa" *ngFor="let item of saibaMais">
      <p class="container-links-text-caixa-descricao1">Descrição:</p>
      <p class="container-links-text-caixa-descricao2">{{ item.descricao }}</p>
      <a target="_blank" [href]="item.url">clique aqui</a>
  </div>
</section>
