<header>
  <img
    class="header-img"
    src="assets/img/logoSlide.png"
    alt="Logo da TecnoComp+"
  />
</header>

<main class="containerSwitch" [ngSwitch]="controllerSwitch">
  <div class="container-primeiro" *ngSwitchDefault>
    <div class="primeiro-container">
      <p class="primeiro-container-p-1">Sobre o assunto</p>
      <p class="primeiro-container-p-2">
        Aprendizagem e Informática: {{nomeTopico}}
      </p>
      <p class="primeiro-container-p-3">Lorem ipsum dolor sit amet, con</p>
    </div>
    <div class="segundo-container">
      <div class="img-segundo-container"></div>
      <button class="iniciar-segundo-container" (click)="iniciarClick()">
        INICIAR
      </button>
    </div>
  </div>

  <div *ngSwitchCase="'1'">
    <div class="header-slide">
      <div class="header-slide-numero">{{ currentVideoIndex + 1 }}</div>
      <h1 class="header-slide-titulo">{{ slide[currentVideoIndex].titulo }}</h1>
    </div>
    <div class="slide-container-main">
      <div class="slide-container">
        <button class="slide-container-button" (click)="prevVideo()">
          <img src="assets/img/retornar.png" />
        </button>

        <section class="container-slide">
          <section class="conteudo-slide">
            <img
              class="conteudo-slide-imagem"
              src="#"
              alt=""
            />
            <aside class="conteudo-slide-texto">
              <p class="conteudo-slide-texto-p" *ngFor="let item of slide[currentVideoIndex].texto;">
                {{item}}
              </p>
            </aside>
          </section>
        </section>

        <button class="slide-container-button" (click)="nextVideo()">
          <img src="assets/img/avancar.png" />
        </button>
      </div>
    </div>
    <div class="slide-container-contagem">
      <span class="slide-container-contagem-conteudo">
        {{ currentVideoIndex + 1 }}/{{slide.length}}
      </span>
    </div>
  </div>
</main>

