<div class="video-container">
  <button (click)="prevVideo()" class="button-before">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="63"
      height="64"
      viewBox="63 64 0 0"
      fill="none"
    >
      <path
        d="M45.4544 55.0661L27.2726 36.7327L45.4544 18.3994"
        stroke="#8D8228"
        stroke-width="2.22785"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>

  <iframe
    [src]="videos[currentVideoIndex] | safe"
    title="Video Aula"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <button (click)="nextVideo()" class="button-next">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="63"
      height="64"
      viewBox="0 0 63 64"
      fill="none"
    >
      <path
        d="M27.5454 18.9339L45.7272 37.2673L27.5454 55.6006"
        stroke="#F3E88E"
        stroke-width="2.22785"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>
