:host{
  height: 100%;
  background-color: black;
  display: block;
}
.header-atividade {
  display: grid;
  height: 64px;
  grid-template-columns: 95% 5%;
  width: 100%;
  justify-content: center;
  background-color: #161616;
  align-items: center;
}

.header-atividade img {
  margin-left: 5px;
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.header-links p {
  font-size: 30px;
  color: #B3B3B3;
}
