@font-face {
  font-family: customFont;
  src: url('../../../assets/Arial Rounded MT Bold Regular.ttf');
}
.content-container-condition {
  height: 100%;
}

section.content-container-ficha-tecnica {
  height: 100%;
}

.main-container {
  background: url('../../../assets/fundo-alternativo.png'), lightgray -283px -148.75px / 134.172% 160.539%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.content-container-section {
  margin-top: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: 60% 40%;
  color: aliceblue;
}

/* Responsividade */

@media (max-width:1100px) {
  .button-section img {
    top: 10%;
    left: 66%;
    height: 300px;
  }

  .content-container-ficha-tecnica-inicio .images {
    display: none;
  }

  .content-container-ficha-tecnica-inicio {
    flex-direction: column;
  }
}

@media (max-width:1000px) {
  .button-section img {
    display: none;
  }

  .button-section::before {
    display: none;
  }
}

@media (max-width: 899px) {
  .content-container-section {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
  }
}
