<div class="container-main">
  <app-header></app-header>
  <div class="container">
    <section class="container-segundo">
      <p>ASSISTA O VÍDEO DA APRESENTAÇAO DA DISCIPLINA</p>
      <div class="container-video">
        <iframe
          src="https://www.youtube.com/embed/3D2Xg4t8pdg?si=7MIMoO6rqMVGPZIG"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; clipboard-write; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </section>
    <section class="container-primeiro">
      <div class="buttons">
        <button class="primeiro-botao"><a href="assets/E-book Teste.PDF"
          download="E-book Teste.PDF">DOWNLOAD E-BOOK UNIDADE</a></button>
        <br>
        <button class="segundo-botao" (click)="navigation()">INICIAR</button>
      </div>
    </section>
  </div>
</div>
