<div class="main-container">
  <!-- chamada do componente de cabeçalho-->
  <app-header [nome]="tokenData?.modulo?.nome_modulo"></app-header>
  <div
    [ngClass]="{'content-container-condition':this.appService.controllerSwitchHome == 1}"
    [ngSwitch]="appService.controllerSwitchHome"
  >
    <section class="content-container-ficha-tecnica" *ngSwitchCase="'1'">
      <!--
        TO DO: Componente do referencial teorico, componentizar melhor ele após as alterações da designer
      -->
      <app-ficha-tecnica></app-ficha-tecnica>
    </section>

    <!-- Section padrão da página incial HOME com video e botões -->
    <section class="content-container" *ngSwitchDefault>
      <div class="content-container-section">
        <!-- chamada do componente de video da página home -->
        <app-video-section [videoUrl]="tokenData?.modulo?.video_inicial"></app-video-section>
        <!-- chamada do componente botão na página home -->
        <app-botoes-section nome_ebook="Ebook de Teste" caminho_ebook="assets/E-book Teste.PDF" urlInicio="topicos"></app-botoes-section>
      </div>
    </section>
  </div>
</div>
