<div class="container-geral" [ngSwitch]="controllerSwitch">

  <div *ngSwitchCase="'1'">
    <app-atividade titulo_pergunta="Construcionismo" (atividadeClick)="atividadeClick()"></app-atividade>
  </div>

  <div *ngSwitchCase="'2'">
    <app-saiba-mais [links]="arrayLinks" (linksClick)="referenciasClick()"></app-saiba-mais>
  </div>

  <div *ngSwitchCase="'3'">
    <app-referencias [referencias]="arrayReferencias" (referenciasClick)="referenciasClick()"></app-referencias>
  </div>

  <div *ngSwitchCase="'4'">
    <app-slide></app-slide>
    <div class="center">
      <div class="voltarUnidade" (click)="textoApoioClick()">
        <img
          src="assets/icons/voltarUnidade.svg"
          alt="Icone para download do ebook"
          width="24px"
          height="24px"
        />
        <span>VOLTAR A UNIDADE</span>
      </div>
    </div>
  </div>

  <div class="container" *ngSwitchDefault>
    <app-geral
    [nome]="nome"
    [link]="teste"
    [videos]="arrayVideos"
    (referenciasClick)="referenciasClick()"
    (linksClick)="linksClick()"
    (textoApoioClick)="textoApoioClick()"
    (atividadeClick)="atividadeClick()"
    voltar="socioconstrutivismo"
    [link]="teste"
    >
  </app-geral>
</div>
