<div class="header-atividade">
  <div class="container-links center">
    <div class="header-links">
      <img
        src="assets/icons/referencias.svg"
        alt="Icone para download do ebook"
        width="28px"
        height="26px"
      />
      <p class="container-links-p"><span class="container-links-span">01</span> Referências bibliográficas</p>
    </div>

    <img
      (click)="referenciasClick.emit()"
      src="assets/icons/close.svg"
      alt="Icone para ir para a atividade da unidade"
      width="30px"
      height="30px"
    />
  </div>
</div>
<div class="container-links-text">
  <ul>
    <li *ngFor="let item of referencias">
      <p>{{ item }}</p>
    </li>
  </ul>
</div>
