:host{
  height: 100%;
  background-color: black;
  display: block;
}
.header-atividade {
  display: grid;
  height: 64px;
  width: 100%;
  background-color: #131313;
}

.header-atividade img {
  margin-left: 5px;
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.header-links p {
  font-size: 30px;
  color: white;
}

.container-links {
  display: grid;
  align-items: center;
  grid-template-columns: 95% 5%;
}

.container-links-span {
  color: #B3B3B3;
  text-align: center;
  font-family: Arial;
  font-size: 17.376px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-links-p {
  color: #B3B3B3;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-links-text {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.container-links-text-p {
  color: #FBFBFB;
  font-size: 21px;
  text-align: center;
  padding: 30px;
}
.container-links-text-lista{
  display: grid;
  background-image: url('../../../../../assets/img/referencias/linha-fundo.png');
  background-repeat: no-repeat;
  background-position: center;

  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 33px;

}

.container-links-text-lista li{
  width: 80%;
  list-style: none;
  margin: 0 auto;
  background-color: #242228;
  padding: 15px 0px 15px 15px ;
  border-radius: 10px;
  margin-bottom: 20px;
}

.container-links-text-lista li img{
  border: 3px solid #9665DF;
  border-radius: 15px;
  max-width: auto;
  max-height: 130px;
  margin-right: 15px;
}
.container-links-text-lista li p{
  font-size: 14px;
  text-align: left;
  margin: 0 auto;
  color: #CCCCCC;
}
.referencias-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
