<div class="container">
    <section class="section">
      <div class="titulos">
        <h1>Ficha técnica</h1>
        <h2>Teorias da Aprendizagem</h2>
      </div>
      <div class="descricao-imagem">
        <div class="Imagem-modulo">
          <img src="../../../../assets/img/ficha-tecnica/41c81850648c2fb8a608534288cdeb8d.jpg" alt="Imagem ilustrativa do módulo">
        </div>

        <div class="descricao-modulo">
          <p class="descricao-elemento">Módulo: <b>Teorias de Aprendizagem</b></p>
          <p class="descricao-elemento">Carga horária: <b>8h</b></p>
          <p class="descricao-elemento">Modalidade: Online</p>
          <p class="descricao-elemento">Instrutor: João da Mata</p>
          <p class="descricao-elemento">Categoria: Computação</p>
        </div>
      </div>

      <section class="descricao">
        <div class="objetivos">
          <h2 class="titulo-objetivos">Objetivos</h2>
          <p class="descricao-objetivos">Lorem ipsum dolor sit amet consectetur. Erat quis luctus sed semper volutpat congue turpis.Lorem ipsum dolor sit amet consectetur. Erat quis luctus sed semper volutpat congue turpis.Lorem ipsum dolor sit amet consectetur. Erat quis luctus sed semper volutpat congue turpis.Lorem ipsum dolor sit amet consectetur. Erat quis luctus sed semper volutpat congue turpis.Lorem ipsum dolor sit amet consectetur. Erat quis luctus sed semper volutpat congue turpis.Lorem ipsum Lorem ipsum dolor sit amet consectetur. Erat quis luctus sed semper volutpat congue turpis.Lorem ipsum.</p>
        </div>
      </section>
      <section class="descricao">
        <div class="descricao-conteudo">
          <h2 class="titulo-conteudo">Conteúdo Pragmático</h2>
          <ul class="topicos">
            <li class="topicos-elementos">Tópico 1: Behaviorismo</li>
            <li class="topicos-elementos">Tópico 2: Construtivismo</li>
            <li class="topicos-elementos">Tópico 3: Socioconstrutivismo</li>
            <li class="topicos-elementos">Tópico 4: Construcionismo</li>
          </ul>
        </div>
      </section>

  </section>

  <section class="section-instrutor">
    <h2>Instrutor do Curso</h2>
    <div class="container-instrutor">
      <div class="image-instrutor">
        <img src="../../../../assets/img/ficha-tecnica/Ellipse 85.svg" alt="Imagem do Instrutor">
        <p>João da Mata</p>
      </div>
      <div class="descricao-instrutor">
        <h3>Quem sou eu?</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Erat quis luctus sed semper volutpat congue turpis. Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </section>


</div>
<app-footer-ficha></app-footer-ficha>
