<div class="content-container-ficha-tecnica">
  <section class="content-container-ficha-tecnica-inicio">
    <div class="sobre">
      <div class="sobre-imagem">
        <img
          src="../../../../assets/img/ficha-tecnica/uea-paic.png"
          alt="Foto de cima da uea e texto com o titulo de Ficha Tecnica"
        />
      </div>
      <div class="sobre-conteudo">
        <p>
          <strong
            >2024. Ministério da Educação. Centro de Estudos Superiores de
            Itacoatiara. Universidade Estadual do Amazonas.</strong
          >
          <br />
          Alguns direitos reservados. É permitida a reprodução, disseminação e
          utilizção dessa obra, em parte ou em sua totalidade, nos termos da
          licança para usuário final do Acervo de Recursos Educacionais em ****
          (***). Deve ser citada a fonte e é vedada sua utilização comercial.
        </p>
      </div>
    </div>
  </section>
  <!-- card da equipe do projeto -->
  <section class="content-container-ficha-tecnica-equipe">
    <div class="content-container-ficha-tecnica-equipe-caixa"></div>

    <div class="content-container-ficha-tecnica-equipe-caixa-teste">
      <!-- Nome de uma equipe é exibida de acordo com o valor da variável currentVideoIndex -->
      <h1>{{ cardEquipes[currentVideoIndex].equipe | uppercase }}</h1>

       <!-- Simbolo de voltar para o anterior que quando clicado muda a equipe exibida -->
      <div class="ficha-tecnica-container">
        <img
          src="../../../../assets/icons/previous2.svg"
          alt="simbolo de ir para o proximo"
          (click)="prevVideo()"
        />
        <!-- Estilo aplicado de acordo com o valor retornado do método elementMembros() -->
        <div
          [ngClass]="{
          'container-membros1': elementMembros() == 1,
          'container-membros2': elementMembros() == 2,
          'container-membros3': elementMembros() == 3,
          }"
          class="container-membros"
        >
        <!-- Percorre o vetor de objetos cardEquipes para exibir o cargo e nome dos membros -->
          <div
            class="ficha-tecnica-container-card"
            *ngFor="let membro of cardEquipes[currentVideoIndex].membros"
          >
            <p class="cargo-membro">{{ membro.cargo }}</p>
            <div class="ficha-tecnica-container-card-conteudo">
              <div class="img-membro"></div>
              <p class="nome-membro">{{ membro.nome }}</p>
            </div>
          </div>
        </div>
        <!-- Simbolo de ir para o próximo que quando clicado muda a equipe exibida -->
        <img
          (click)="nextVideo()"
          src="../../../../assets/icons/next2.svg"
          alt="simbolo de ir para o proximo"
        />
      </div>
      <!-- botões de navegação para trocar a equipe exibida -->
      <div class="navigation-button">
        <ul>
          <li
            *ngFor="let video of cardEquipes; index as i"
            [ngClass]="{
              active: i === currentVideoIndex,
              teste: i !== currentVideoIndex
            }"
            (click)="selectVideo(i)"
          >
          <!-- o índice + 1 para representar o número dos botões -->
            {{ i + 1 }}
          </li>
        </ul>
      </div>
    </div>
  </section>

  <footer class="content-container-ficha-tecnica-footer">
    <img
      src="../../../assets/img/Tecnocomp+_LOGO_Branco.png"
      alt="Logo do Tecnocomp+"
      width="650"
      height="200"
    />
  </footer>
</div>
