<div class="container">
  <div class="ficha-tecnica teoriaAp">
    <h1 class="titulo"><b>Ficha Técnica</b></h1>
    <section>
      <h2 class="titulo-teoria"><b>Teoria de Aprendizagem</b></h2>
      <div class="duascaixa">
        <img src="../../../../assets/img/ficha-tecnica/41c81850648c2fb8a608534288cdeb8d.jpg" alt="Imagem ilustrativa do módulo">
        <ul class="itens">
          <li>Módulo: Teoria da Aprendizagem</li>
          <li>Carga horária: 8h </li>
          <li>Modalidade: Online</li>
          <li>Instrutor: Joõa da Mata</li>
          <li>Categoria: Computação</li>
        </ul>
      </div>
    </section>

  </div>

</div>
