.video-container iframe {
  width: 70%;
  height: 500px;
  border: 5.425px solid #AD9F30;
}

.navigation-button ul {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  gap: 40px;
}

.navigation-button ul li {
  background-color: none;
  border: 1px solid #D8C731;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  font-weight: 600;
  line-height: normal;
}
.teste{
  color: #D8C731;
}
.active {
  color: black;
  background: #D8C731;
}
