:host {
  height: 100%;
  display: block;
}
.video-container {
  width: 100%;
  height: 90%;
}
.videos-assistidos-box {
  background: #1b1b1b;
  width: 100%;
  padding: 5px 0;
}
.mat-18 {
  cursor: pointer;
  color: white;
}
.video-container #id {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}
.navigation-button {
  display: grid;
  grid-template-columns: 20% 1fr;
  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(39, 39, 39, 0.5);
  background: #1b1b1b;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  position: relative;
}
.navigate {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation-button ul {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  gap: 40px;
}

.navigation-button ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  cursor: pointer;
  border: 1px solid #793cd4;
  position: relative; /* Permite posicionamento relativo */
}
.navigate-p {
  align-self: flex-start;
}
.teste {
  background-color: #fff;
}

.box-navigate-left {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 20px;
}
.box-navigate-right {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  position: absolute;
}
.concluido {
  position: absolute; /* Posiciona o ícone em relação ao li */
  top: -5px; /* Ajuste para mover para cima */
  right: -20px; /* Ajuste para mover para a direita */
  font-size: 14px; /* Ajuste o tamanho do ícone, se necessário */
  color: #58DB43;
}
.naoConcluido {
  border: none;
  background-color: #2e2e2e;
}
.active {
  background-color: #9665df;
  border: 2px solid white;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: rgba(171, 163, 163, 0.75);
  box-shadow: 3px -1px 24px 0px rgba(131, 123, 123, 0.75);
  -webkit-box-shadow: 3px -1px 24px 0px rgba(131, 123, 123, 0.75);
  -moz-box-shadow: 3px -1px 24px 0px rgba(131, 123, 123, 0.75);
}

.spinner {
  position: relative;
  top: 40%;
  margin: 0 auto;
  border: 16px solid #cbbaba;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
.disabled {
  opacity: 0;
  cursor: auto;
}
.proximo {
  justify-self: start;
}
.voltar {
  justify-self: end;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .video-container iframe,
  .loading {
    height: 300px;
  }
  .navigation-button,
  .box-navigate-right {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
.box-navigate-left{
  display: none;
}
  .proximo,
  .voltar {
    justify-self: center;
  }
}


@media(max-width: 489px){
  .navigation-button, .box-navigate-right{
    padding: 1.2rem;
  }
}