.postagens {
  background-color: #242228;
  height: 160px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  margin: 20px 0;
  align-items: center;
  border-radius: 10px;
}
.postagens .bolinha {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 auto;
  margin-bottom: 12px;
}
.quantidade-respostas p {
  font-size: 12px;
}
.corpo-postagem {
  width: 100%;
  padding: 0 10px;
}
.corpo-postagem h3 {
  font-size: 22px;
}
.corpo-postagem p {
  color: #9a9a9a;
}
.corpo-postagem a {
  color: #9665df;
}
.autor .foto-autor {
  width: 40px;
  height: 40px;
  border: 3px solid #9f69ef;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.por {
  color: #686868;
}
.p-autor {
  color: #9665df;
  text-transform: capitalize;
}
.p1 {
  color: #cdcdcd;
}

/* Caixa de envio do comentario */
.comentario {
  background-color: #242228;
  height: 90px;
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 20px 0;
  align-items: center;
  border-radius: 10px;
}
.comentario form {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
}
.comentario form .comentario-input input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 19px 26px;
  color: white;
}
.comentario form .comentario-input input:hover {
  border: 2px solid white;
}

.quantidade-respostas .btn-sub{
  background-color: transparent;
  border: none;
}

.quantidade-respostas .btn-sub :active {
  background-color: rgb(80, 56, 56);
}
