.header-atividade {
  display: grid;
  height: 64px;
  grid-template-columns: auto auto;
  width: 100%;
  justify-items: end;
  background-color: #161616;
  align-items: center;
}

.header-atividade .title {
  font-size: 24px;
  margin-left: 10px;
  color: aliceblue;
}

.header-atividade img {
  margin-left: 5px;
}

.container-atividade {
  width: 80%;
  margin: 0 auto;
  font-size: 22px;
}

.container-atividade h3{
  color: white;
}

.container-atividade .alternativas{
  display: grid;
  grid-template-columns: minmax(80px,100px) 1fr;
  margin-bottom: 20px;
  background-color: #4F4F4F;
  color: white;
  align-items: center;
}

.respostaCerta{
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  color: #B3B3B3;
}
.container-alternativa{
  padding: 20px 0;
}

button{
  width: 100px;
  height: 50px;
  color: white;
  background-color: transparent;
  outline: none;
  border: 1px solid #3e3c3c;
  border-radius: 20px;
}

.resposta-errada {
  color: rgb(34, 219, 157);
  border: 2px solid red;
}
