:host {
  display: block;
  height: 100%;
}
.header-atividade {
  display: grid;
  height: 64px;
  grid-template-columns: 95% 5%;
  width: 100%;
  justify-content: center;
  background-color: #161616;
  align-items: center;
}

.header-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.header-links p {
  font-size: 24px;
  color: #B3B3B3;
}


.container-atividade {
  width: 80%;
  margin: 0 auto;
  font-size: 22px;
  padding: 15px 0;
}

.container-atividade h3 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.container-atividade .alternativas {
  display: grid;
  grid-template-columns: minmax(80px, 100px) 1fr;
  margin-bottom: 20px;
  color: white;
  align-items: center;
}

.respostaCerta {
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  color: #b3b3b3;
}
.container-alternativa {
  padding: 20px 0;
}

button {
  width: 100px;
  height: 50px;
  color: white;
  background-color: transparent;
  outline: none;
  border: 1px solid #3e3c3c;
  border-radius: 20px;
}

.respostaCorreta {
  border: 2px solid rgb(34, 219, 157);
}
.respostaErrada {
  border: 2px solid red;
}
/* Refatoração */
.container {
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
  border-radius: 8px;
  padding-right: 20px;
  width: 1032px;
  min-height: 90px;
  gap: 20px;
  margin: 0 auto;
  color: white;
}

.container-textos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0;
  background-color: #4f4f4f;
  border-radius: 0px 8px 8px 0px;
}

.texto-cima {
  display: flex;
}

.texto-baixo {
  background-color: #333;
  padding: 10px 20px;
  border-radius: 2px;
}

.options {
  line-height: 150%;
  color: white;
  font-size: 40px;
  background-color: #9665df;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0 0 8px;
}
.img {
  width: 40px;
  height: 40px;
}
.img-correta {
  justify-self: center;
  align-self: center;
}
.img-errada {
  justify-self: center;
  align-self: center;
}
.container-prefix {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 8px 0 0 8px;
}
.container-textos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0;
  height: 100%;
}
.texto-cima {
  display: flex;
  gap: 10px;
}
.texto-baixo {
  background-color: #333;
  padding: 10px 20px;
  border-radius: 2px;
  width: 95%;
  margin-left: 20px;
}
.texto-cima p {
  width: 95%;
  padding-left: 20px;
}
