:host{
  height: 100%;
}
.header-atividade {
  display: grid;
  height: 64px;
  grid-template-columns: auto auto;
  width: 100%;
  justify-items: end;
  background-color: #212121;
  align-items: center;
}

.header-atividade .title {
  font-size: 24px;
  margin-left: 10px;
  color: aliceblue;
}

.header-atividade img {
  margin-left: 5px;
}

.container-atividade {
  width: 80%;
  margin: 0 auto;
  font-size: 22px;
}

.container-atividade h3{
  color: white;
}

.container-atividade .alternativas{
  display: grid;
  grid-template-columns: minmax(80px,100px) 1fr;
  margin-bottom: 20px;
  background-color: #4F4F4F;
  color: white;
  align-items: center;
}

.respostaCerta{
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  color: #B3B3B3;
}
.container-alternativa{
  padding: 20px 0;
}

button{
  width: 100px;
  height: 50px;
  color: white;
  background-color: transparent;
  outline: none;
  border: 1px solid #3e3c3c;
  border-radius: 20px;
}

.resposta-errada {
  border: 2px solid red;
}

.respostaCorreta{
  border: 2px solid rgb(34, 219, 157);
}

/* Refatoração */
.container {
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
  border-radius: 8px;
  padding-right: 20px;
  width: 1032px;
  min-height: 90px;
  gap: 20px;
  margin: 0 auto;
  color: white;
}


.container-textos {
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 25px 0;
}


.texto-cima {
  display: flex;

}


.texto-baixo {
  background-color: #333;
  padding: 10px 20px;
  border-radius: 2px;
  border: 2px solid #58DB43;
}


.alternativa-correta {

  display: flex;
  align-items: center;
  background-color: #58DB43;
  width: 73px;
  height: 100%;
  min-height: 90px;
  gap: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0 17px;
}
