<div class="header-atividade">
  <span class="title">Atividade</span>
  <img
    (click)="atividadeClick.emit()"
    src="assets/icons/close.svg"
    alt="Icone para ir para a atividade da unidade"
    width="30px"
    height="30px"
  />
</div>
<div class="container-atividade">
  <div *ngIf="questaoAtual">
    <h3>Pontos a se definir sobre {{ questaoAtual.titulo }}</h3>
    <div *ngFor="let alternativa of questaoAtual.alternativas">
      <div class="alternativas" (click)="!respostaEnviada && responder(alternativa.letra)">
        <img
          [src]="caminhoImagem + alternativa.letra.toUpperCase() + '.png'"
          alt="Alternativa da questão"
        />
        <div class="container-alternativa">
          {{ alternativa.descricao }}
          <div
            class="respostaCerta"
            *ngIf="
              resposta === alternativa.letra 
            "
          >
            Explicação: {{ getExplicacao(resposta) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="refazer()">Refazer</button>
</div>
