<div class="header-atividade">
  <span class="title">Atividade</span>
  <img
    (click)="atividadeClick.emit()"
    src="assets/icons/close.svg"
    alt="Icone para ir para a atividade da unidade"
    width="30px"
    height="30px"
  />
</div>
<div class="container-atividade" *ngIf="this.bloqueio == false">
  <div *ngIf="questaoAtual">
    <h3>Pontos a se definir sobre {{ questaoAtual.titulo }}</h3>
    <div *ngFor="let alternativa of questaoAtual.alternativas; let i = index">
      <div
        class="alternativas"
        [ngClass]="{'resposta-errada': resposta === alternativa.descricao && questaoAtual!.respostaCorreta != resposta}"
        (click)="!respostaEnviada && responder(alternativa.descricao)"
      >
        <img
          [src]="caminhoImagem + i + '.png'"
          alt="Alternativa da questão"
        />
        <div class="container-alternativa">
          {{ alternativa.descricao }}
          <div class="respostaCerta" *ngIf="resposta === alternativa.descricao">
            Explicação: {{ getExplicacao(resposta) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="refazer()">Refazer</button>
</div>
<div class="container-atividade" *ngIf="this.bloqueio == true">
  <p style="color: aliceblue; text-align: center">
    Questão enviada com sucesso
  </p>
</div>
