<footer class="container">
  <div class="foto-apoio">
    <img src="../../../../assets/apoios.png" alt="PADEX / PROEX / UEA">
  </div>
  <div class="texto">
    <p><strong>Tecnocomp+ </strong> © 2024 | Todos os direitos reservados.</p>
    <p><strong>Laboratório de Mídias | CESIT | UEA</strong></p>
    <p>Contato: <span style="text-decoration: underline;">tecnocomp&#64;uea.edu.br</span></p>
    <p>Av. Mário Andreazza, 2960 - Jardim Florestal</p>
    <p>CEP.: 69.101-603 - Itacoatiara-AM</p>
  </div>

</footer>
