/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100vh;
  background-color: #000000;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}

.center-2 {
  margin: 0 auto;
}
.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
  margin: 0;
}
.mat-mdc-progress-bar.mat-warn {
  --mdc-linear-progress-active-indicator-color: #44BA31;
  --mdc-linear-progress-track-color: #818181;
}

.testando{
  --mat-snack-bar-button-color: #C3A1F5;
}


.mat-mdc-snack-bar-container .mdc-snackbar__action {
  --mdc-snackbar-container-color: #2E2E2E;
    border-radius: 5px;
    color: #793CD4 !important;
}

.mat-mdc-dialog__title{
  margin-top: 10px;
}



.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #2E2E2E;
  padding: 10px;
  --mdc-dialog-container-shape: 8px !important;
  --mdc-dialog-container-elevation: -4px 4px 10px 0px rgba(0, 0, 0, 0.50) !important;
}

.mat-mdc-dialog-actions, .mdc-dialog__title  {
  justify-content: center !important;
  margin-bottom: 10px !important;
  color: white !important;
}




